h1,
p {
  font-family: Lato;
}
body {
  display: grid;
  place-items: center;
}
.count {
  color: white;
  margin: 0.5rem;
  padding: 0.3rem;
  background-color: rgb(0, 0, 0);
}
.counter-action {
  justify-content: space-evenly;
  display: flex;
  gap: 0.1rem;
}
button {
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  width: 35%;
  border: none;
}
.list {
  padding: 0.3rem;
  background-color: rgba(209, 235, 202, 0.76);
  font-size: 0.8rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  gap: 0.3rem;
  margin-top: 0.3rem;
}
